body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  padding: 8px;
  text-align: left;
}
.error-message {
  color: red;
}

.edit-button {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  background-color: aqua;
}

.space-between-components {
  margin-bottom: 20px;
}

.search-container, .create-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.search-bar {
  width: 800px;
  height: 30px;
  font-size: 18px;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 10px;
}

.create-contact-button{
  width: 400px;
  height: 50px;
}

.form-modal {
  
}

.form-group {
  margin-bottom: 10px;
}

.form-group label {
  display: block;
  font-weight: bold;
  color: #333;
  margin-bottom: 8px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  color: #333;
}